
/* start interactive hover */
.travelers_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
}
.travelers_image {
    position: relative;
    margin-right: 5%;
    margin-left: 5%;
}
.travelers_image h3{
    background-color: var(--lightpink);
}
.travelers_image img {
    margin-top: 20px;
    width: 100%;
    height: 75%;
    object-fit: cover;
    display: block;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0; 
    transition: opacity 0.3s ease; 
}
.overlay-content {
    position: absolute;
    bottom: 20%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    transform: translateX(-50%);
    color: white;
    text-align: center;
}
.overlay-content p{
    font-size: 50%;
}
.travelers_image:hover .overlay {
    opacity: 1;
}
/* end interactive hover */

:root {
    --bluegray40: hsl(217, 21%, 40%);
    --darkblue: hsl(217, 97%, 23%);
    --darkpink: hsl(335, 50%, 70%);
    --midpink: hsl(335, 50%, 91%);
    --lightpink: hsl(335, 50%, 95%);
}
html {
    height: 100%;
    font-size: 100%;
    line-height: 1.35;
    font-weight: normal;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
      Noto Sans, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: hsl(335, 20%, 99%);
}

h1 {
    margin: 0.2em 0 0.2em;
    font-size: 400%;
    line-height: 0.8;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -0.025em;
    color: var(--bluegray40);
}
h2 {
    padding-top: 0.2em;
    font-size: 300%;
    margin-bottom: 0.05em;
    font-weight: 600;
    text-align: center;
    background-color: var(--lightpink);
    color: var(--darkblue)
}
.travelers{
    background-image: url("../images/airplane_background.jpg");
    background-size: 70%;
}
.favorites_container{
    background-image: url("../images/airplane_background.jpg");
    background-size: 70%;
}
h3 {
    font-size: 100%;
    margin-bottom: 0.25em;
    line-height: 1.36;
    font-weight: 500;
    text-align: center;
    color: var(--darkblue);
}
a, a:visited {
    color: var(--darkblue);
}
a:focus {
    font-size: 120%;
}
header, nav, main{
    padding: 0 6vw;
 }
.skip{
    text-decoration: none;
    padding: 0.3em 0.5em;
    left: -1000px;
    position: absolute;
}
.skip:focus {
    background-color: var(--lightpink);
    left: 10px;
}
header {
    background-color: var(--midpink);
    padding-top: 1rem;
    padding-bottom: 2rem;
}
nav {
    background-color: var(--lightpink);
    margin-bottom: 1rem;
}
nav ul {
    display: flex;
    list-style: none;
    padding: 1em 0;
    justify-content: center;        
}
nav li {
    margin-right: 1em;
    font-size: 100%;
    font-weight: 600;
    border: 0.2em solid var(--darkblue);
    border-radius: 6px;
    padding: 1%;
    transition: all 0.3s ease 0s;    
}
nav li:hover{
    border-radius: 50px;
    transition: all 0.3s ease 0s; 
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,.3);
}
p{
    font-size: 80%;
}
/* start tilted image effect */
img{
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 20px; */
    position: relative;
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,.7);
    transform: rotate(-2deg); 
    border: 0.7em solid #fff;
}
/* end tilted image effect */
.overlay{
    transform: rotate(-2deg); 
}
.masked_austria{
    color: transparent;
    background-image: url("../images/hallstatt_clock.jpg");
    background-clip: text;
    text-align: center;
    background-size: 80%;
    position: relative;
    background-position: center;
}
.masked_hungary{
    color: transparent;
    background-image: url("../images/boat_tour.jpg");
    background-size: 85%;
    background-clip: text;
    text-align: center;
    background-position: center;
}
.masked_germany{
    color: transparent;
    background-image: url("../images/glockenspiel.jpg");
    background-size: cover;
    background-clip: text;
    text-align: center;
    background-position: 20%;
}
    /* box-shadow: 5px 5px 0 var(--orange95), 10px 10px 0 var(--orange91), -1px -1px 0 black; */
.city_container{
    display: flex;
    width: fit-content;
    align-items: center;
    border: var(--bluegray40) solid 5px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,.5);
    justify-content: center;
    column-gap: 1%;
    /* transform: rotate(2deg);  */
    width: 40%;
    font-size: 60%;
    margin-bottom: 2%;
}
.plane{
    border: none;
    box-shadow: none;
    display: inline;
    width: 20%;
    margin: 0;
}
img.plane_jack_auntlisa{
    width: 40%;
    display: inline;
    margin: 2%;
}
.day{
    text-align: center;
    background-color: none;
}
.img_p_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1%;
    margin: 2%;
}
.img_p_container img{
    width: 40%;
    margin-top: 20px;
}
.day1_container img:nth-child(2),
.day2_container img:nth-child(2),
.day3_container img:nth-child(2),
.day3_container2 img:nth-child(2),
.day4_container img:nth-child(2),
.day5_container img:nth-child(2),
.day6_container img:nth-child(2),
.day7_container img:nth-child(2),
.day8_container img:nth-child(2),
.day9_container img:nth-child(2){
    transform: rotate(4deg);  
}
img.budapest_meal{
    width: 35%;
}
#budapest_meal{
    width: 20%
}
video{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: relative;
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,.7);
    transform: rotate(2deg); 
    border: 0.6em solid #fff;
}

/* start first slideshow container */
.slideshow_container{
    position: relative;
    width: 130%;
    display: flex;
    justify-content: center;
    margin: 2%;
}
.myslides{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    width: 200%;
}
.slideInLeft {
    animation: slideInLeft 1s forwards;
}
@keyframes slideInLeft {
    0% {
      transform: rotateY(-90deg);
    }
    100% {
      transform: rotateY(0deg);
    }
}
.slideOutRight {
    animation: slideOutRight 1s forwards;
}
@keyframes slideOutRight {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(90deg);
    }
} 
/* end first slideshow container */
button{
    background-color: var(--darkpink);
    color: var(--darkblue);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s;
    font-size: 130%;
}
button:hover{
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: 5px solid var(--darkblue);
    border-right: 5px solid var(--darkblue);
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,.3);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
button:focus{
    font-size: 150%;
    border: 0.2em solid var(--darkblue);
}
.day2_container img:nth-child(2){
    transform: rotate(4deg);  
}
img.gyor{
    width: 25%;
}
/* having weird overlap issues with this one container */
#slideshow{
    display: flex;
    margin-bottom: 25%;
    align-items: center;
}
.car{
    width: 30%;
    border: none;
    box-shadow: none;
    margin: 2%;
}
/* start second slideshow container */
.slideshow_container2{
    position: relative;
    width: 130%;
    display: flex;
    justify-content: center;
    margin: 2%;
}
.myslides2{
    transform-style: preserve-3d;
    backface-visibility: hidden;
    width: 250%;
}
.slideInLeft {
    animation: slideInLeft 1s forwards;
}
@keyframes slideInLeft {
    0% {
      transform: rotateY(-90deg);
    }
    100% {
      transform: rotateY(0deg);
    }
}
.slideOutRight {
    animation: slideOutRight 1s forwards;
}
@keyframes slideOutRight {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(90deg);
    }
} 
/* end second slideshow container */
img.hotel, 
img.palace, 
img.durnstein, 
img.gilgen, 
img.cemetery,
img.fort,
img.mirabell,
img.hallstatt,
img.munich,
img.dachau,
img.munich2,
img.castlehill,
img.bud{
    width: 25%;
}
img.hallstatt{
    width: 20%;
}
video.hallstatt{
    width: 50%;
}

/* start third slideshow container */
.slideshow_container3{
    position: relative;
    width: 130%;
    display: flex;
    justify-content: center;
    margin: 2%;
}
.myslides3{
    transform-style: preserve-3d;
    backface-visibility: hidden;
    width: 250%;
}
.slideInLeft {
    animation: slideInLeft 1s forwards;
}
@keyframes slideInLeft {
    0% {
      transform: rotateY(-90deg);
    }
    100% {
      transform: rotateY(0deg);
    }
}
.slideOutRight {
    animation: slideOutRight 1s forwards;
}
@keyframes slideOutRight {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(90deg);
    }
} 
/* end third slideshow container */

img.gilgen{
    width: 25%;
}

img:hover{
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 1);
    transform: rotate(2deg);
    transition: 0.5s ease;
}
.day1_container img:nth-child(2):hover,
.day2_container img:nth-child(2):hover,
.day3_container img:nth-child(2):hover,
.day3_container2 img:nth-child(2):hover,
.day4_container img:nth-child(2):hover,
.day5_container img:nth-child(2):hover,
.day6_container img:nth-child(2):hover,
.day7_container img:nth-child(2):hover,
.day8_container img:nth-child(2):hover,
.day9_container img:nth-child(2):hover {
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.5);
    transform: rotate(-4deg);
    transition: 0.5s ease;
}
img.travelers_image:hover{
    transform: none;
}
.note,
.note2,
.note3 {
    margin: 5%;
    color: var(--darkblue);
    background-color: var(--lightpink); /* Background color of the note */
    border: 6px solid var(--bluegray40); /* Border color */
    border-radius: 10px; /* Rounded corners */
    padding: 2%; /* Padding inside the note */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7); /* Shadow effect */
    position: relative; /* Positioning context for the tape */
  }
.note3{
    color: var(--bluegray40);
    background-color: white;
}
  .note::before,
  .note::after,
  .note2::before,
  .note2::after,
  .note3::before,
  .note3::after {
    content: ""; /* Create pseudo-elements for the tape */
    position: absolute; /* Position the tape relative to the note */
    background-color: var(--bluegray40); /* Tape color */
  }
  
  .note::before,
  .note2::before,
  .note3::before {
    width: 5%; /* Width of the left side of the tape */
    height: 2%; /* Height of the tape */
    top: 10px; /* Distance from the top of the note */
    left: -10px; /* Position to the left of the note */
  }
  
  .note::after,
  .note2::after,
  .note3::after {
    width: 5%; /* Width of the right side of the tape */
    height: 2%; /* Height of the tape */
    top: 10px; /* Distance from the top of the note */
    right: -10px; /* Position to the right of the note */
  }
  .city_container img:hover{
    transform: none;
}
.an_container{
    position: absolute;
    /* z-index: 99; */
    animation: plane 10s linear 0s infinite reverse;
}
@keyframes plane{
    from {right:-500px;}
    to{right: 102%;}
}
.an_container img{
    width: 3%;
    box-shadow: none;
}
.title{
    margin-top: 4%;
}
.title h3{
    color: var(--bluegray40);
    display: inline;
    margin-right: 5%;
    font-size: 80%;
    background-color: white;
}
.color-change{
    color: var(--darkblue);
}
.day1_container,
.day2_container,
.day3_container{
    background-image: url("../images/scrapbook_paper.jpg");
}
.day3_container2,
.day4_container,
.day5_container,
.day6_container,
.day7_container{
    background-image: url("../images/map_paper.jpg");
    background-size: cover;
}
.day8_container,
.day9_container,
.day10_container{
    background-image: url("../images/clouds.jpg");
    background-size: cover;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.floating_container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
    margin-top: 5%;
}

.avatar {
    width: 50px;
    height: 50px;
	box-sizing: border-box;
	border: 5px var(--bluegray40) solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}
.avatar img{
    margin: none;
    border: none;
    transform: none;
    width: 100%;
    height: 100%;
    object-fit: top;
}

.content {
	width: 100%;
	padding: 20px 40px;
	box-sizing: border-box;
	text-align: center;
}

.fav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#view_description,
#hotel_description,
#meal_description,
#church_description{
    display: none;
    background-color: var(--bluegray40);
    color: white;
    border: solid var(--darkpink) 3px;
    border-radius: 10px;
    padding: 4px;
}

@media screen and (min-width: 600px){
    h3{
        font-size: 200%;
    }
    .avatar{
        width: 100px;
        height: 100px;
    }
    .overlay-content p{
        font-size: 70%;
    }
    p{
        font-size: 100%;
    }
    .title h3{
        font-size: 110%;
    }
}

@media screen and (min-width: 900px){
    h1 {
        margin: 0.2em 0 0.2em;
        font-size: 1000%;
    }
    h2{
        font-size: 400%;
    }
    nav li{
        font-size: 150%;
    }
    .city_container{
        font-size: 120%;
    }
    .img_p_container{
        flex-wrap: nowrap;
    }
    .note{
        transform: rotate(10deg); /* Rotate the right tape */
      }
    .note2{
        transform: rotate(-10deg);
    }
    .an_container img{
        width: 10%;
    }
    .title h3{
        font-size: 300%;
    }
    .overlay-content p{
        font-size: 100%;
    }
    p{
        font-size: 120%;
    }
}

@media screen and (min-width: 1100px){
    .avatar{
        width: 300px;
        height: 300px;
    }
}
